body{
    text-align: center;
    background-color: rgb(122, 152, 152);
    
}
table {
    border:1px  black;
    justify-content: center;
    align-items: center;
    display: flex;

}
td.cell{
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px  solid black;
    background-color: #b1afaf;

}

.unmark{
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px  solid black;
    background-color: #b1afaf;
}
.unmark span.x{
    display: none;
}
footer{
    margin-top: 400px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px 1px;
}
.state{
    background: none;
    border: none;
    cursor: pointer;
}
.hint{
    background: none;
    border: none;
    cursor: pointer;
}
.seconds{
    text-shadow: 2px;
}
.tens{
    text-shadow: 2px;
}
.safeClick{
    background: rgb(87, 153, 215);
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    text-emphasis-color: white;
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.safeClick:hover{
    background-color: rgb(15, 71, 168);
}
.manu{
    background: #b17aae;
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    text-emphasis-color: white;
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.undo{
    margin-top: 5px;
    background: rgb(176, 168, 126);
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    text-emphasis-color: white;
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.undo:hover{
    background-color: rgb(163, 165, 116);
}
